.nav {
  padding: 2em;
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  background: #eee;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  /* hide img for now */
  background-repeat: no-repeat;
  background-position: -100% -100%;
}

.nav a {
  color: #a100ff;
}
