.cmp_drawer {
  width: 375px;
  margin: 0 auto;
  background: #f5f5f5;
}

.cmp_heading {
  margin: 0;
}

.cmp_drawer__link {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.cmp_drawer__link:active,
.cmp_drawer__link:hover {
  color: blue;
}

.cmp_drawer__content {
  padding: 0 1em 1em 1em;
  border-top: 1px solid #ddd;
}

[data-visible="is-hidden"] .cmp_drawer__content {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

[data-visible="is-visible"] .cmp_drawer__content {
  opacity: 1;
}

/* .metadata {
  display: none;
} */
